/* app css stylesheet */

html, body {
    padding: 0; margin: 0;
    text-align: center;
    background-color: black;
    height: 100%;
    width: 100%;
}
.photoholder {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}
.vertical-centre {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}
.photo {
  max-width: 98%;
  max-height: 98%;
}
.photonext { display: none; }
.caption {
    color: gray; /* fallback */
    color: rgba(200,200,200,0.8);
    font-size: 24px;
    position: absolute;
    padding: 10px;
}
.rating {
    color: rgba(255,255,100,0.8);
    margin: 0 1em;
}
.glyphicon {
  cursor: pointer;
  transform: translateY(0.2em);
}
.save, .save:focus, .save:hover {
  font-size: 100%;
  text-decoration: none;
}
@media screen and (orientation:portrait) {
    .photoholder {
        width: 100%;
        height: 80%;
    }
    .caption {
        top: 80%;
        left: 0;
        width: 100%;
        height: 20%;
    }
    .caption p {
      display: inline;
    }
}
@media screen and (orientation:landscape) {
    .photoholder {
        width: 75%;
        height: 100%;    
    }
    .caption {
        top: 0;
        left: 75%;
        width: 25%;
        height: 100%;
    }
    .caption p {
      margin: 1em 0;
    }
}
